*:before,
*:after{
    margin:0;
    padding:0;
    box-sizing:border-box
}
body{
    box-sizing:border-box;
    background-color: #141414;;
}
.conteiner{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}
.conteiner header{
    background:black;
    width:100%;
    height:100px;
    margin:0px auto;
}
header h1{
    padding: 5px;
    margin-left:10px;
}
header h1 a{
    font-size: 1.0em;
    color:white;
}
.menu ul{
    display: flex;
    float: right;
    margin-right:10px;
    position: relative;
    bottom:70px;
}
ul li{
    margin-right:10px;
    list-style:none;
}
a{
    text-decoration: none;
    color:rgb(150, 144, 144);
    font-size:1.0em;
}
ul li a:hover{
    color:white;
    font-size:1.1em; ;
}
/**/
/*estilo do conteiner page todo*/
.text-title{
    margin:20px auto;
    color: rgba(217, 219, 221, 0.808);
}
.text-sobre{
    padding:20px;
}
.text-sobre p{
    text-align: justify;
    font-size:0.9em;
    color:rgba(180, 177, 177, 0.822);
}
/*estilo das img*/
.img-all{
    padding:30px;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    text-align: center;
}
.conteiner img{
    margin:20px;
    width:250px;
    height:300px;
    opacity:0.4 ;
    border:4px solid rgb(255, 255, 255);
    transition: all 2s;
}

img:hover{
    opacity:1.0;
    width:300px;
    height: 320px;
}
.space-img p{
    margin-left: 18px;
    text-align: justify;
    width:240px;
    height:200px;
    font-size:0.9em;
    text-indent: 50px;
    color: rgb(214, 214, 214);
}
/*Estilo orthes page*/
.sobre{
    padding:20px;
    color: rgb(175, 174, 174);
    font-size:0.8em;
}
.sobre p{
    text-align: justify;
}
/*Estilo page membros*/
.banda{
    padding:20px;
    display:flex;
    flex-wrap: wrap;
}
section{
    text-align: center;
    padding:10px;
    width:400px;
}
section.sobre-membro{
    width:400px;
    text-align: justify;
    color:rgb(194, 190, 190);
    position: relative;
    top:90px;
}
section.membro-show h5{
    margin-top:60px;
    color:rgb(175, 170, 170);
    font-size:1.0em;
}
footer{
    margin:auto;
    margin-top:200px;
    height:50px;
    background-color: black;
    color:white;
    padding:10px;
}
footer h6{
    text-align: center;
}